body {
	background: slategrey;
}

.task-completed {
	color: #999;
	position: relative;
}

.task-completed label:after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	top: 50%;
	margin: -1px 0 0;
	background: #999;
}